<h1>Forecast for {{ city }}</h1>
<hr/>
<p>
  <a href="#/">Back to Search</a>
</p>

<div ng-repeat="w in weatherResult.list">
  <div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class='panel-heading'>
        <h3 class="panel-title">{{ convertDate(w.dt) | date: "MMM d, y" }}</h3>
      </div>
      <div class="panel-body">
        Daytime Temp: {{ convertToFarenheit(w.temp.day) }}
      </div>
    </div>
  </div>

  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Forecast | Number of Days</h3>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="newDays">
    </div>
    <a href="#/forecast/{{ newDays }}" class="btn btn-primary">Get Forecast</a>
  </div>
</div>
